{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    {% if projects %}
        <h1 class="h1-mainpage">{{ category.name|upper }} PROJECTS</h1>
        <div class="container">
            <ul>
                {% for project in projects %}
                    <li class="project_container">
                        <div class="image_container">
                            <img src="{{ url_for('static', filename=project.image_url) }}">
                        </div>
                        <div class="project_info">
                            <h3>{{ project.name }}</h3>
                            <ul class="tags">
                                {% for tag in project.tags %}
                                    <li class="tag">{{ tag.name }}</li>
                                {% endfor %}
                            </ul>
                            <p class="project_description scroll">{{ project.description }}</p>
                            <a class="project_button" href="{{ project.url }}">View more</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <h2>So far, we have no projects in this category :(</h2>
    {% endif %}
{% endblock %}