html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
    font-size: 18px;
}

h1 {
    margin: 20px;
    font-size: 45px;
}

h2 {
    margin: 20px;
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    color: #000;
    height: 10%;
    z-index: 10;
    max-width: 70%;
    margin: auto;
}

.header ul {
    margin: 0;
}

.container {
    max-width: 90%;
    margin: auto;
    padding: 2%;
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
.float-right{
  float: right;
}
.fa{
 font-size: .8em;
  line-height: 22px !important;
}



.form {
    position: relative;
    background: #FFFFFF;
    width: 600px;
    margin: 0 auto 100px;
    padding: 45px;
    height: 350px;
    text-align: center;

}
.form textarea {
    outline: 0;
    background: #ecf0f1;
    width: 100%;
    border: 0;
    margin-top: 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none;
}

.confirm_button {
    background: #a0b7b7;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin-top: 15px;
}

.confirm_button:hover {
    background: #8ca1a1;
    transition-duration: 400ms;
}

.confirm_button:active {
    background: #788a8a;
    transition-duration: 300ms;
}

.mainmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
}

.mainmenu a {
    color: #000;
}

.header-link {
    margin-right: 70px;
}

.header-link a:hover {
    color: #a0b7b7;
    transition-duration: 400ms;
}

.header-link:last-child {
    margin-right: 0px;
    color: #a0b7b7;

    transition-duration: 400ms;
}

.menu_item {
    margin-left: 50px;
}

.results h3{
    margin: 10px 30px 30px 30px;
    padding: 10px 30px 30px 30px;
}

.results {
    display: flex;
    justify-content: space-around;
}

.text-green {
    color: #1abc9c;
}

.results_header {
    display: flex;
    justify-content: center;
}

.image_container {
  width: 40%;
  margin: 0px 10px 0px 0px;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project_container {
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;
    height: 28%;
}

.project_info {

    width: 40%;

    margin: 0px 0px 0px 10px;
    max-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.project_info p {
    font-size: 16px;
}

.project_button {
    background: #a0b7b7;
    color: #fff;
    border-radius: 15px;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
}

.project_button:hover {
    background: #8ca1a1;
    transition-duration: 400ms;
}

.project_button:active {
    background: #788a8a;
    transition-duration: 300ms;
}

.tags {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.tag {
    margin: 0px 10px 0px 0px;
    font-size: 20px;
    position: relative;
}

.tag::after {
    content: "";
    display: block;
    border-top: 1px solid #9f9f9f;
    margin-top: 1px;
}

.h1-mainpage {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.project_description {
    max-height: 115px;
    overflow-y: hidden;
    position: relative;
}

.project_description:hover {
    overflow-y: auto;
}

.scroll::-webkit-scrollbar {
    width: 5px;
}

.project_description:hover::-webkit-scrollbar-thumb {
    width: 5px;
    background: #9f9f9f;
}

.header-filters {
    display: flex;
    align-items: center;
}

.same_width {
    width: 65px;
}